
<a
routerLink="/admin-com"
 routerLinkActive="active">
 <button class="shadow p-3 mb-5 bg-body rounded">go back to admin panel</button>
</a>

<br>

<div>
  <nav >
		<form action="search" method="get" class="form-inline">
			<input  type="search" name="txteid" [(ngModel)]="question_id"
				 aria-label="Search" autocomplete="off" placeholder="Start searching by anything">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                    <a
                    routerLink="/add-question"
                     routerLinkActive="active">
                 
                    <button style="border: none;"   class="btn btn-primary">
                    Add Question
                  </button></a>
        
                </form>


        
           
	</nav>


</div>


<a
                    routerLink="/view-subject"
                     routerLinkActive="active">
                 
                    <button style="border: none;"   class="btn btn-primary">
                    go to subject list
                  </button></a>







    <br>
    
    <table class="zebra">
      
      <thead>
      <tr>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="question_id">Question Id</th>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="qdescription">Question</th>
        
        <th scope="col" [appSort]="questions" data-order="desc" data-name="op1">Option_1</th>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="op2">Option_2</th>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="op3">Option_3</th>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="op4">Option_4</th>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="quiz.qid">Quiz ID</th>
        <th scope="col" [appSort]="questions" data-order="desc" data-name="answer">Answer</th>
        <th >Action</th>


      </tr>
      </thead>
      
      <tbody>
       
      <tr *ngFor="let emp of questions|filter:question_id">
        <td>{{emp.question_id}}.</td>
        <td>{{emp.qdescription}}</td>
        <td>{{emp.op1}}</td>
        <td>{{emp.op2}}</td>
        <td>{{emp.op3}}</td>
        <td>{{emp.op4}}</td>
        <td>{{emp.quiz.qid}}</td>
       
        <td>{{emp.answer}}</td>
       
       
        <td><button class="btn"(click)="onDelete(emp)">Delete</button></td>
      </tr>
      










    

  
