
    





<div class="adminpanel">

<h1 class="ad">Admin panel</h1>

<nav>
    <ul>
      <li
      aria-current="page"
        routerLink="/view-subject"
        routerLinkActive="active"
      >
        
        
        View Subjects     <span></span><span></span><span></span><span></span>
      </li>


      <li
      
      aria-current="page"
    routerLink="/view-quiz"
    routerLinkActive="active"
      
      >
        View Quizes
        <span></span><span></span><span></span><span></span>
      </li>
      <li
      
      aria-current="page"
    routerLink="/studentlist"
    routerLinkActive="active"
      
      
      >
        Student list
        <span></span><span></span><span></span><span></span>
      </li>
      
    </ul>
  </nav>
  </div>





