input[type=search] { 	
	padding: 30px;            /* Overridden by padding: 1px; */
	font-family: Georgia;     /* Overridden by font: -webkit-small-control; */
	border: none;  /* Overridden by border: 2px inset; */
	background: rgb(255, 255, 255);          /* Overridden by background-color: white; */
	line-height: 3; 
    width: 20%;
    height:20px;
    box-shadow: rgb(58, 57, 57) 10px 8px 40px ; 
    transition-duration: 0.4s;         
}
input:focus {
    background-color: rgb(255, 233, 214);
    outline: none;
    padding: 45px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid rgb(255, 229, 196);
  }
  tbody tr:nth-child(odd) {
    background: rgb(255, 229, 196);;
  }

  a{
    background-color: rgba(230, 160, 255, 0.534);
    border-radius: 5px;
    text-decoration: none;
    padding: 6px;
    transition-duration: 0.4s;
  }
  a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
      border-radius: 4px;
      padding: 10px;
    background-color: #2f302f; /* Green */
    color: white;
  }
  
  /* selected link */
  a:active {
    color: rgb(165, 165, 236);
  }
  
  .btn {
    background-color: rgb(230, 160, 255);
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: #ff1313; /* Green */
    color: white;
  }
    
     
     


  
  