
<a
routerLink="/admin-com"
 routerLinkActive="active">
 <button class="shadow p-3 mb-5 bg-body rounded">go back to admin panel</button>
</a>




<br>

<div>
  <nav >
		<form action="search" method="get" class="form-inline">
			<input  type="search" name="txteid" [(ngModel)]="st_id"
				 aria-label="Search" autocomplete="off" placeholder="Start searching by anything">
		</form>
	</nav>


</div>



  
<!-- <ul *ngFor="let emp of students|filter:st_id" >
  <li><a
     routerLink="/studentedit/{{emp.st_id}}"
      routerLinkActive="active"
      class="list-group-item list-group-item-action list-group-item-primary">
      <span>{{emp.st_id}}----{{ emp.dob }}--{{ emp.st_contact }}--{{ emp.st_email }}--{{ emp.st_gender }}--
        {{ emp.st_name.firstName }}--{{emp.st_name.lastName}}--{{emp.st_password}}----
        <button class="shadow p-3 mb-5 bg-body rounded"(click)="onDelete(emp)">Delete</button></span>
    </a> </li></ul> -->
    <br>
    
    <table class="zebra">
      
      <thead>
      <tr>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_id">Id</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_firstName">First Name</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_lastName">Last Name</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="dob">Date of birth</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_gender">Gender</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_email">Email</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_contact">Contact</th>
        <th scope="col" [appSort]="students" data-order="desc" data-name="st_password">Password</th>
        <th >Action</th>


      </tr>
      </thead>
      
      <tbody>
       
      <tr *ngFor="let emp of students|filter:st_id">
        <td>{{emp.st_id}}.</td>
        <td><a
          routerLink="/studentedit/{{emp.st_id}}"
           routerLinkActive="active"
           
         >{{emp.st_firstName}}</a></td>
        <td>{{emp.st_lastName}}</td>
        <td>{{emp.dob|date:'mediumDate'}}</td>
        <td>{{emp.st_gender}}</td>
        <td>{{emp.st_email}}</td>
        <td>{{emp.st_contact}}</td>
        <td>{{emp.st_password}}</td>
        <td><button class="btn"(click)="onDelete(emp)">Delete</button></td>
      </tr>
      










    

   <!--
  <div >
    {%for i in students %}
    <li><a>
      {{i.st_id}}

    </a></li>
   {%endfor %} 
    
  </div>
  -->