

<a
routerLink="/admin-com"
 routerLinkActive="active">
 <button class="shadow p-3 mb-5 bg-body rounded">go back to admin panel</button>
</a>





<div class="container">

    <div class="form-group">
        <label for="txtempname">Student Id</label>
        <input
          type="number"
          class="form-control"
          id="txtempname"
          [(ngModel)]="studentData.st_id"
          placeholder="Enter id"
          
        />
      </div>





  <div class="form-group">
    <label for="txtstufname">Student First Name</label>
    <input
      type="text"
      class="form-control"
      id="txtempname"
      [(ngModel)]="studentData.st_firstName"
      placeholder="Enter First Name"
    />
  </div>


  <div class="form-group">
    <label for="txtstulname">Student Last Name</label>
    <input
      type="text"
      class="form-control"
      id="txtempname"
      [(ngModel)]="studentData.st_lastName"
      placeholder="Enter last Name"
    />
  </div>

  <div class="form-group">
    <label for="lblemail" class="form-label">Email address</label>
    <input
      type="email"
      name="txtemail"
      class="form-control"
      [(ngModel)]="studentData.st_email"
      id="lblemail"
      placeholder="name@example.com"
    />
  </div>
  <div class="form-group">
    <label for="lblPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="lblPassword1"
      [(ngModel)]="studentData.st_password"
    />
  </div>

  <div class="form-group">
    <label for="lblPassword1" class="form-label">Contact</label>
    <input
      type="text"
      class="form-control"
      id="lblContact1"
      [(ngModel)]="studentData.st_contact"
    />
  </div>

  <div class="form-group">
    Gender
    <div class="form-check">
      <label class="form-check-label" for="flexRadioMale">Male</label>
      <input
        class="form-check-input"
        type="radio"
        [(ngModel)]="studentData.st_gender"
        id="flexRadioMale"
        value="Male"
        checked="checked"
      />
    </div>
    <div class="form-check">
      <label class="form-check-label" for="flexRadioFemale">Female</label>
      <input
        class="form-check-input"
        type="radio"
        [(ngModel)]="studentData.st_gender"
        id="flexRadioFemale"
        value="Female"
      />
    </div>
  </div>
  <div class="form-group">
    <button (click)="updateStudent()" class="btn btn-primary">
      Update Student
    </button>
  </div>
</div>

<p>
    <button (click)="goToStudents()">Back</button>
  </p>