<a
routerLink="/admin-com"
 routerLinkActive="active">
 <button class="shadow p-3 mb-5 bg-body rounded">go back to admin panel</button>
</a>

<br>

<div>
  <nav >
		<form action="search" method="get" class="form-inline">
			<input  type="search" name="txteid" [(ngModel)]="qid"
				 aria-label="Search" autocomplete="off" placeholder="Start searching by anything">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                    <a
                    routerLink="/add-quiz"
                     routerLinkActive="active">
                 
                    <button style="border: none;"   class="btn btn-primary">
                    Add Quiz
                  </button></a>
        
                </form>


        
           
	</nav>


</div>






    <br>
    
    <table class="zebra">
      
      <thead>
      <tr>
        <th scope="col" [appSort]="quizes" data-order="desc" data-name="qid">Quiz Id</th>
        <th scope="col" [appSort]="quizes" data-order="desc" data-name="title">Quiz Title</th>
        <th scope="col" [appSort]="quizes" data-order="desc" data-name="maxMarks">Max Marks alloted</th>
        <th scope="col" [appSort]="quizes" data-order="desc" data-name="numberOfQuestions">Total no. of questions</th>
        <th scope="col" [appSort]="quizes" data-order="desc" data-name="emp.subject.subject_id">Subject Id</th>
        <th scope="col" [appSort]="quizes" data-order="desc" data-name="test_date">Test Date</th>
        
        <th >Action</th>


      </tr>
      </thead>
      
      <tbody>
       
      <tr *ngFor="let emp of quizes|filter:qid">
        <td>{{emp.qid}}.</td>
        <td>
          <a
                    routerLink="/view-question/{{emp.qid}}"
                     routerLinkActive="active">
          {{emp.title}}</a></td>
        <td>{{emp.maxMarks}}</td>
        <td>{{emp.numberOfQuestions}}</td>
        <td >{{emp.subject.subject_id}}</td>
        <td>{{emp.test_date}}</td>
       
        <td><button class="btn"(click)="onDelete(emp)">Delete</button></td>
      </tr>
      










    

  
