

{{data}}

    <form id="test" >
       <div *ngFor="let emp of questions">  
        <p>Q:- {{emp.qdescription}} ?</p>
        <input [(ngModel)]="age" type="radio"     id={{emp.question_id}}  name={{emp.question_id}}  value="1">
        <label for="op1">{{emp.op1}}</label><br>
        <input [(ngModel)]="age"  type="radio"     id={{emp.question_id}}  name={{emp.question_id}}  value="2">
        <label for="op2">{{emp.op2}}</label><br>
        <input [(ngModel)]="age"    type="radio"   id={{emp.question_id}} name={{emp.question_id}}  value="3">
        <label for="op3">{{emp.op3}}</label><br>
        <input [(ngModel)]="age"  type="radio"    id={{emp.question_id}}  name={{emp.question_id}}   value="4">
        <label for="op4">{{emp.op4}}</label><br>

        <br><br>

        <p>your answer--{{age}}</p>
    </div>

    <button class="btn" (click)="analysis()">sUbMiT</button>
     </form>

     <hr>


     <form id="test" >

        <h2>Answers:-</h2>
        <div *ngFor="let emp of questions">

            <ul>
                <li>
                    <span>{{emp.question_id}}---->{{emp.answer}}</span>
                
                </li>

            </ul>

            

            </div>
            </form>

            




          
    
        
        
        
        

  
    
        

       <!-- // <li>You selected: {{selectControl.value}}</li> -->

        <!-- <article>
            <h1>What is your gender?</h1>
            <h2><span>Select a gender:</span></h2>
            <select [formControl]="selectControl">
                <option value="1">Male</option>
                <option value="2">Female</option>
                <option value="3">Intersex</option>
                <option value="4">Trans</option>
                <option value="5">Others</option>
            </select>
            <p><span>You selected: </span><b>{{selectControl.value}}</b></p>
            <button (click)="selectControl.setValue('4')">Set Value</button>
        </article> -->
        




  