a{
    transition-duration: 0.4s;
  }
  a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
      border-radius: 4px;
      padding: 8px;
    background-color: #2f302f; /* Green */
    color: rgb(238, 56, 56);
  }
  
  /* selected link */
  a:active {
    color: rgb(165, 165, 236);
  }